:root{
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --main-background-color: #ffffff;
  --secondary-bgc: #F5F4FA;
  --temporory-bgc: #2F303A;
}


body{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-background-color)
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  display: block;
}
.site-nav .nav .current{
  color: var(--accent-color);
}
.current::after{
  content: '';
  position: absolute;
  
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img{
  display: block;
}
/* ------------------------navigation-------------------------- */
header{
  border-bottom: 1px solid #ECECEC;
}
.flex{
  display: flex;
  align-items: center;
}
.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    display: block;
    min-width: 145px;
}
.header-logo{
  margin-right: 93px;
}
.logo__accent{
color: var(--accent-color)
}
.site-nav{
  margin-right: auto;
}
.nav{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav .link-nav{
  padding-bottom: 32px;
  padding-top: 32px;
}
.link-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.contact {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  
}
.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-letter{
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.icon-smartphone{
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
}
.contact .contact-link{
  padding-bottom: 32px;
  padding-top: 32px;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* -------------------------hero----------------------- */
.section-hero {
  background-color: #C4C4C4;
  background-image: linear-gradient(
  to right, 
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../images/hero-bg.jpg);
  background-position: center;
  

  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero-title{
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}
.hero-btn, .main-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus{
  background-color: #188CE8;
}

/* ===================
advantage
======================
 */

.visually-hidden{
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.advantage-section{
  padding-top: 94px;
  padding-bottom: 118px;
}
.advantage__list {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  /* margin: auto ; */
}
.advantage__item {
  flex-basis: calc((100% - 30px * 3) / 4);
}
/* .advantage-list:not(:last-child){
  margin-right: 30px;
} */
.advantage__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.advantage__text{
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.advantage__box{
  padding: 25px 102px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

/* 
================================
work
================================
 */

.work-section{
  padding-bottom: 94px;
}
.work__list{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
/* .work-list:not(:last-child){
  margin-right: 30px;
} */
.work__item{
  margin: auto;
  flex-basis: calc((100% - 30px * 2) / 3);
  position: relative;
}

.work__text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}
/* -----------------------team------------------- */
.team-list{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.team-section {
  background-color: var(--secondary-bgc);

  max-width: 1600px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-bottom: 50px;
}
.team__img {
  margin-bottom: 30px;
}
.team__wrapper{
  margin-bottom: 30px;
}
.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list--white{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.social-link:hover, .social-link:focus {
  fill: #FFFFFF;
  background-color: var(--accent-color);

}
.team__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team__text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
.team-list__item{
  /* width: 270px; */

  flex-basis: calc((100%-30px * 3) / 4);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* .team:not(:last-child){
  margin-right: 30px;
} */
/* ==================clients=================== */
.section-clients{
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.clients-list{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.company-icon{
  fill: #AFB1B8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link{
  display: flex;
  padding: 15px 31px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .company-icon{
  fill: var(--accent-color);
}
.clients-link:hover,
.clients-link:focus{
  border: 1px solid var(--accent-color);;
}
.clients-link:focus .company-icon {
  fill: var(--accent-color);
  
}
/* 
========================================
footer
========================================
 */

.footer-container{
  display: flex;
  align-items: baseline;
}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo--footer {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer{
  background-color: var(--temporory-bgc);
}
.address{
  font-style: normal;
  width: 231px;
}
.address__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 9px;
}
.address__list{
  list-style: none;
}

.address__list .link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__list .link:hover,
.address__list .link:focus {
  color: var(--accent-color);
}
.mail-footer{
  margin-bottom: 8px;
}
.contact-block{
  margin-right: 70px;
}
.social-block{
  margin-right: 93px;
}
.social-block-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}
.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus{
  background-color: var(--accent-color);
}
.social-list--dark{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-icon{
  fill: var(--main-background-color);
}

/* 
===============================
mailing form
=============================== 
*/

.mailing-form{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
}
.mailing-text{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;

  margin-bottom: 20px;
}
.mailing-group{
  position: relative;
}
.mailing-label{
  position: absolute;
  display: flex;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-inp{
  padding: 0;
  outline: none;

  color: #ffffff;

  padding-left: 15px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-inp:focus,
.mailing-inp:not(:placeholder-shown){
  border-color: #ffffff;
}

.mailing-inp:focus + .mailing-label,
.mailing-inp:not(:placeholder-shown) + .mailing-label{
  transform: translateY(-220%) translateX(-16px) scale(0.9);
}
.mailing-btn{
  position: relative;

  padding-right: 68px;
}
.mailing-btn::after{
  content: "";
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);

  background-image: url(../images/icons/send.svg);

}

/* ----------------------------------------portfolio------------------------------------------------------- */
.portfolio{
  padding-top: 100px;
  padding-bottom: 94px;
}

.filter{
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-btn-list:not(:last-child){
margin-right: 8px;
}

.filter-button {
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-all{
  padding: 6px 25px;
}

.filter-button:hover,
.filter-button:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.worklist{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.worklist-list{
flex-basis: calc((100% - 30px * 2)/3);

transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
/* width: 370px; */
}
.worklist-list:hover,
.worklist-list:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.worklist-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;

    color: var(--main-text-color);
}
.worklist-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    margin-left: 24px;
}
.border{
    width: 370px;
    border: 1px solid #EEEEEE;
}
.thumb{
  position: relative;
  overflow: hidden;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
}
.overlay-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.worklist-list:hover .overlay{
  transform: translateY(0)
}
/* 
====================
Modal window
====================
 */
 .backdrop{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  /* scale 250ms cubic-bezier(0.4, 0, 0.2, 1), */
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 528px;
  min-height: 581px;

  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-btn{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  width: 30px;
  height: 30px;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-btn:hover,
.modal-btn:focus{
 fill: var(--accent-color);

}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* scale: 1.1; */
}
.backdrop.is-hidden .modal{
  opacity: 1;
  transform: translateX(-50%) translateY(-70%);
  
}
/* 
===================
Form
===================
 */
.form-group{
  padding: 40px;
}
 .form{
  display: block;
  width: 100%;
 }
 .str{
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;

 margin-bottom: 30px;
 }
.form-field:not(:last-child){
  margin-bottom: 28px;
}
 /* .form-input:focus + .form-label{
  color: var(--accent-color);
 } */

 .form-field{
  position: relative;
 }
 .form-field:last-child{
  margin-bottom: 20px;
 }
 .form-label{
  position: absolute;
  top: -40%;
  left: 0;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  
  color: #757575;
 }
 .form-input{
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  padding-left: 42px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .form-input:focus,
 .form-comment:focus{
  border: 1px solid var(--accent-color)
 }
 .icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: inline-block;

  fill: inherit;
 }
 .form-input:focus ~ .icon{
  fill: var(--accent-color);
 }
 .form-comment{
  width: 100%;
  height: 120px;
  resize: none;
  padding: 0;
  padding: 12px 16px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .form-label.comment{
  top: -17px;
 }
 /* 
 ==========================
 Checkbox
 ==========================
  */

  .checkbox-group{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 30px;
  }
  .checkbox{
   appearance: none;
   margin-right: 8px;

   background-size: 0;
   transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   width: 16px;
   height: 15px;
   border: 2px solid #212121;
   border-radius: 2px;
   /* outline: 2px solid transparent;
   outline-offset: -2px; */
   transform: translateY(-1px);
  }
  .checkbox:checked{
    /* outline-color: var(--accent-color); */
    background-color: var(--accent-color);
    background-image: url(../images/icons/check.svg);
    background-size: contain;
    background-position: center;
    background-origin: border-box;
    border-color: transparent;

    background-size: 16px 15px;
  }
  .checkbox-label{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;

    user-select: none;
  }
  .check-link{
    color: var(--accent-color);
    display: inline-block;
    text-underline-offset: 2px;
  }

    /* .checkbox-icon{
    display: inline-block;
    width: 11px;
    height: 8px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;

    background-size: 0;
    
    transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
  } */
  /* .checkbox:checked + .checkbox-icon{
    background-color: var(--accent-color);
    background-image: url(../images/icons/checked.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;

    background-size: 16px 15px;
  } */
  .main-btn{
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .submit-btn{
    padding: 10px 52px;
  }
  .main-btn:hover,
  .main-btn:focus{
    background-color: #188CE8;
  }